* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projpage {
  height: 100vh;
  width: 100%;
  background-color: rgba(123, 169, 179, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projcover {
  padding-top: 20px;
  overflow-y: scroll;
  /* background-color: #e8ecf2; */
  width: 100vw;
  height: 90vh;
  position: relative;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.projcover::-webkit-scrollbar {
  width: 7px;
}

.projcover::-webkit-scrollbar-track {
  background: #e8ecf2;
  border-radius: 0.3em;
}

.projcover::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: 0.5px solid #e8ecf2;
}

.create-proj-btn {
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  background-color: #e8ecf2;
  border: 4px solid #e8ecf2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 9999px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.create-proj-btn:hover {
  color: rgb(41, 111, 127);
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
    1px 1px 5px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px rgba(255, 255, 255, 0.3),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.create-proj-div {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.create-proj-div-two {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.proj-name-div {
  margin-right: 10px;
}

.proj-input {
  border: none;
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 8px;
  background-color: #e8ecf2;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 0.25em;
}

.select-project {
  border: 2px solid teal;
  margin-top: 8vh;
  margin-left: 23vw;
  overflow-y: scroll;
  width: 54vw;
  height: 70vh;
  background-color: rgba(149, 186, 194, 1);
  position: absolute;
  z-index: 1;
  border-radius: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25);
}


.select-project::-webkit-scrollbar {
  width: 0px;
}

.select-project::-webkit-scrollbar-track {
  background: rgba(123, 169, 179);
  border-radius: 0.3em;
}

.select-project::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
  border: 0.5px solid rgba(123, 169, 179);
}

.cancel-create-proj {
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
}

.cancel-create-proj:hover {
  color: rgb(41, 111, 127);
}

.show-all-proj {
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  background-color: #e8ecf2;
  border: 4px solid #e8ecf2;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 9999px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 10px;
}